{% extends "layout.twig" %}

{% block content %}
<h1> {{title}}</h1>
<form action="/patient/mailler/{{patient._id}}" method="post">
<label> From: </label>  <input type="text" name="from" value="{{patient.email}}">
<br>
<label> To: </label>  <input type="text" name="to">
<br>
<label> Subject: </label>  <input type="text" name="subject" >
<br>
<label> Message: </label>  <input type="text" name="message" >
<br>

<input type="submit" value="Save" /> 
</form>

{% endblock %}