<h2>Mailler patient</h2>

<form #f="ngForm">

    <div class="form-container">
    
<!--

        <div class="form-group">
            <label for="nom">From</label>
            <input type="text" class="form-control " id="nom" name="from" aria-describedby="emailHelp" placeholder="from" [(ngModel)]="mail.from">
        </div>
    
          <div class="form-group">
            <label for="prenom">To</label>
            <input type="text" class="form-control " id="prenom" name="to" aria-describedby="emailHelp" placeholder="to" [(ngModel)]="mail.to">
          </div>
 -->
    
        <div class="form-group">
          <label for="email">Subject</label>
          <input type="email" class="form-control " id="email" name="subject" placeholder="Entrez l'objet " [(ngModel)]="mail.subject" required #subject="ngModel" >
          <div class="alert alert-danger" *ngIf="subject.invalid && subject.touched"> Veuillez entrer l'objet </div>
        </div>
    
       
    
        <div class="form-group">
            <label for="maladie">Message</label>
            <input type="text" class="form-control " id="maladie"  name="message" placeholder="Votre message" [(ngModel)]="mail.message"  required #message="ngModel">
            <div class="alert alert-danger" *ngIf="message.invalid && message.touched">Veuillez entrer le message</div>
        </div>



        <button type="submit" class="btn btn-primary mb-2" (click)="maillerPatient()" [disabled]="f.invalid">Submit</button>
    
    </div>
    
      </form>

      <simple-notifications></simple-notifications>